<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="home.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

  <title>Search and Filter</title>
</head>

<body>
  <%- include('nav') %>
  <div class="container mt-3">
    <form class="row" action="/home" method="post">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="text" name="bookTitle" class="form-control" placeholder="Enter book title" aria-label="Enter book title" aria-describedby="search-btn">
          <button class="btn btn-outline-secondary" type="s" id="search-btn"><i class="bi bi-search"></i>Search</button>
        </div>
      </div>
      <div class="col-md-3">
        <button class="btn btn-outline-secondary float-end" type="button" id="filter-btn"><i class="bi bi-funnel"></i> Filters</button>
      </div>
    </form>
    
  
    <!-- Filter options -->
    <form class="row mt-3 d-none" id="filter-options" action="/home" method="post">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="isbn-addon">ISBN</span>
          <input type="number" name="isbn" class="form-control" placeholder="Enter ISBN" aria-label="Enter ISBN" aria-describedby="isbn-addon">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="authors-addon">Authors</span>
          <input type="text" name="authors" class="form-control" placeholder="Enter author names" aria-label="Enter author names" aria-describedby="authors-addon">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="before-addon">Before</span>
          <input type="number" class="form-control" placeholder="Enter year" aria-label="Enter year" aria-describedby="before-addon">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="after-addon">After</span>
          <input type="number" name="afterYear" class="form-control" placeholder="Enter year" aria-label="Enter year" aria-describedby="after-addon">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="page-count-addon">Page Count</span>
          <input type="range" name="pageCount" class="form-range" min="0" max="1000" id="page-count" aria-describedby="page-count-addon" value="1100">
          <div class="slider-value">1100</div>
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary float-end"><i class="bi bi-funnel"></i> Submit</button>
      </div>
    </form>
  </div>
  <% if(books.length > 0) { %> 
    <% let i = 0 %> 
    <% while (i < books.length) { %> 
      
      <div class="stuffonshelf">
        <div class="books">
          <% let bookPerRow = 0 %>
          <% while (bookPerRow < 13 && i < books.length) { %> 
            <% let color ='#'+`${Math.floor(Math.random()*16777215).toString(16)}` %>
          <div style="background-color: <%= color %>" class="spine">
            <div class="spineTitle">
              <p class="bookTitle"><%= books[i].title %></p>
            </div>
          </div>
          <% bookPerRow += 1 %>
          <% i += 1 %>
          <% } %>
        </div>
      </div>
      <img class="shelf" />
  <% } %> 
  <% } else { %>
    <p>No books to display</p>
  <% } %> 
  
  
  <% if(books.length > 0) { %> <% for(let i = 0; i < books.length;
    i++){ %>
  <div id="backgroundID<%= i %>" style="display: none" class="background">
    <div class="bodyBook">
      <div class="book">
        <div class="back"></div>
        <div class="page6">
          <div class="bookD">
            <p id="bookDescription<%= i %>" style="font-size: 0.75em">
              <%= books[i].shortDescription %>
            </p>
          </div>
        </div>
        <div class="page5"></div>
        <div class="page4"></div>
        <div class="page3"></div>
        <div class="page2"></div>
        <div class="page1"></div>
        <div class="front"><img id="bookCover<%= i %>" class="book-img" src="<%= books[i].thumbnailUrl %>" alt="normal People book" />
        </div>
      </div>
    </div>
    <div class="onTop">
      <div class="button-container">
        <button onclick="closeInfo('<%= i %>')" id="close-btn">Return</button>
        <form class="editButton" action="/editBook" method="post">
          <input type="hidden" name="title" value="<%= books[i].title %>">
          <input type="hidden" name="isbn" value="<%= books[i].isbn %>">
          <input type="hidden" name="authors" value="<%= books[i].authors %>">
          <input type="hidden" name="pageCount" value="<%= books[i].pageCount %>">
          <input type="hidden" name="date" value="<%= books[i].publishedDate %>">
          <input type="hidden" name="url" value="<%= books[i].thumbnailUrl %>">
          <input type="hidden" name="description" value="<%= books[i].shortDescription %>">
          <button type="submit" style="border-radius: 0px" class="btn btn-outline-secondary float-end">
            <i class="bi bi-funnel"></i>Edit
          </button>
        </form>
      </div>
      
    </div>
  </div>
  <% } %> <% } %>

  <script>
    const spine = document.getElementsByClassName("spine");
    for (let s = 0; s < spine.length; s++) {
      spine[s].onclick = () => {
        const ID = `backgroundID${s}`;
        const card = document.getElementById(ID);
        card.style.display = "block";
      };
    }

    const closeInfo = (el) => {
      const ID = `backgroundID${el}`;
      const card = document.getElementById(ID);
      card.style.display = "none";
    };

    const slider = document.getElementById('page-count');
    const sliderValue = document.querySelector('.slider-value');

    slider.addEventListener('input', (event) => {
        sliderValue.textContent = event.target.value;
    });

    
    const filterBtn = document.querySelector('#filter-btn');
    const filters = document.querySelector('#filter-options');

    filterBtn.addEventListener('click', () => {
      filters.classList.toggle('d-none');
    });
  </script>
</body>

</html>